html{
  font-size: theme('fontSize.mobile')
}

body{
  font-size: 1.2rem;
  background-color: rgba(theme('colors.bluergb'),.04);
}

main{
  min-height: 600px;
}

#site{
  width: 100vw;
  overflow: hidden;
}

.graphic-box{
  box-shadow: 5px 5px 0px theme('colors.black');
  border: 1px solid theme('colors.black');
}

.bg-fade-v{
  background: linear-gradient(180deg,rgba(theme('colors.blackrgb'),0) 0%,rgba(theme('colors.blackrgb'),1) 100%)
}

.gutters{
  padding-left: 5vw;
  padding-right: 5vw;
}

.button,
.button-wrapper button{
  white-space: nowrap;
  cursor: pointer;
  padding: 1rem 1.5rem;
  display: inline-block;
  border-radius: .25rem;
  width: auto;
  font-weight: bold;
  transition: transform .2s, box-shadow .2s, background .2s;
  transform: scale(1.0001);
  box-shadow: 5px 5px 0px theme('colors.black');
  border: 1px solid theme('colors.black');
  background: theme('colors.pink');
  color: white;
}

.button.button-white,
.button-wrapper.button-white button{
  background: white;
  color: theme('colors.black');
}

.button.button-lime,
.button-wrapper.button-lime button{
  background: theme('colors.lime');
  color: theme('colors.black');
}

.button:hover,
.button-wrapper button:hover{
  background: theme('colors.green');
  box-shadow: 7px 7px 0px theme('colors.black');
}

.button.button-white:hover,
.button-wrapper.button-white button:hover{
  background: theme('colors.lime');
  box-shadow: 7px 7px 0px theme('colors.black');
}

.button.button-lime:hover,
.button-wrapper.button-lime button:hover{
  background: white;
  box-shadow: 7px 7px 0px theme('colors.black');
}

.button.button-wide,
.button-wrapper.button-wide button{
  padding-left: 5rem;
  padding-right: 5rem;
}

.button.button-grow,
.button-wrapper.button-grow button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

.button:active,
.button-wrapper button:active{
  transform: scale(.95);
  box-shadow: 2px 2px 0px theme('colors.black');
}

.button.disabled,
.button-wrapper.disabled button{
  pointer-events: none;
  box-shadow: 5px 5px 0px theme('colors.darkGray');
  border: 1px solid theme('colors.darkGray');
  background: theme('colors.gray');
  color: theme('colors.darkGray')
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media screen and (min-width: theme("screens.sm")) {
  .gutters{
    padding-left: calc((100vw - (theme("screens.sm") - 50px)) / 2);
    padding-right: calc((100vw - (theme("screens.sm") - 50px)) / 2);
  }
}
@media screen and (min-width: theme("screens.md")) {

  html{
    font-size: theme('fontSize.desktop')
  }

  body{
    font-size: 1rem;
  }

  .gutters{
    padding-left: calc((100vw - (theme("screens.md") - 250px)) / 5);
    padding-right: calc((100vw - (theme("screens.md") - 250px)) / 5);
  }
}

@keyframes animate-scroll-left {
  0%{transform: translateX(0px)}
  100%{transform: translateX(-100%)}
}

@keyframes spin{
  0%{transform: rotate(0deg)}
  50%{transform: rotate(180deg)}
  100%{transform: rotate(360deg)}
}
